{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Création d'un évènement</h1>

    {{ include('event/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('event_index') }}">Retour</a>
{% endblock %}
