{{ form_start(form) }}
{{ form_row(form.name, {'attr' : { 'placeholder':"Nom de la formation" }}) }}
    {{ form_widget(form) }}
    <button class="btn btn-success float-right">Sauvegarder</button>
{{ form_end(form) }}
