{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% block nav %}
    {% endblock %}
    <div class="login d-flex align-items-center justify-content-center">
    <div class="row signIn">
    <div class="col">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
        <p>
            <a href="http://fenriz-studio.fr">
                <button class="btn btn-secondary">
                    {{ 'registration.back'|trans }}
                </button>
            </a>
        </p>
        </div>
        </div>
        </div>
    {% endif %}
{% endblock fos_user_content %}