{% templates/bundles/FOSUserBundle/Registration/confirmed.html.twig %}
{% extends "@!FOSUser/Registration/confirmed.html.twig" %}


    <div>Votre compte a bien été activé ! Vous pouvez maintenant vous connecter sur <a href="http://www.fenriz-studio.fr"</a></div>
