{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}


    <h1>Bienvenue sur Fenrir Studio !</h1>

    <p>Un paragraphe aléatoire !</p>


{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <h3>Connecté {{ app.user.username }}{% if is_granted("ROLE_ADMIN") %} en tant qu'administrateur{% endif %}</h3>
    {% endif %}

{% endblock %}


{% block stylesheets %}

{% endblock %}


{% block javascripts %}

{% endblock %}