{% extends 'base.html.twig' %}

{% block title %}Edit Actu{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Edition d'une actualité</h1>

    {{ include('actu/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('actu_index') }}">Retour</a>
    
{% endblock %}
