{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}New Actu{% endblock %}

{% block body %}
    <h1>Création d'une actualité</h1>

    {{ include('actu/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('actu_index') }}">Retour</a>
{% endblock %}
