{% extends 'base.html.twig' %}

{% block title %}New Imagetype{% endblock %}

{% block body %}
    <h1>Create new Imagetype</h1>

    {{ include('imagetype/_form.html.twig') }}

    <a href="{{ path('imagetype_index') }}">back to list</a>
{% endblock %}
