<h2>Bonjour cher adhérent ! </h2>

    <div>
        <p>Votre inscription à la formation : {{ formation.name }} à bien été pise en compte ! </p>
    </div>
    <div>
        <p>Vous pouvez vous désinscrire à tout moment ! où déclarer une absence, l'important est de prévenir dans les plus brefs délais</p>
        <p>Pour déclarer une absence il vous suffit de vous rendre dans l'onglet formation et de cliquer sur <b>"Déclarer une abscence"</b></p>
    </div>
    <div>Rappel : La formation a lieu le {{ formation.hour | date("d/m/Y") }} à {{ formation.time | date("G\\hi") }} ne soyez pas en <b>retard</b> !</div>

    <div style="margin-top:30px;">
    <hr>
        <p><b>Fenrir studio</b></p>
        <img src="https://media.licdn.com/dms/image/C4D03AQHsq8EWHOqeNQ/profile-displayphoto-shrink_200_200/0?e=1565827200&v=beta&t=_KU2LU1recHZcH7a_yRtUE6UKZ1LsxP-Kg-qLBfwIUc" style="border-radius:50%;width:50px;height:50px;"/>
        <p><a href="mailto:team.project.orga@gmail.com">team.project.orga@gmail.com</a></p>
        <p>31 Avenue du Maréchal Gallieni, 33700 Mérignac</p>
    </div>
