<h2>Fenrir Studio</h2>

<img style="width:80px;height:80px;" src="http://connexion.fr/{{ image.imgPath}}"/><br>
Une nouvelle image a été upload sur le site !
<hr>
<a href="http://connexion.fr/image/{{ image.id }}/comfirm">Confirmer</a>
<a href="http://connexion.fr/image/{{ image.id }}/comfirm">Refuser</a>
<a href="http://connexion.fr/image/{{ image.id }}/comfirm">Ignorer</a>