<h2>Fenrir Studio</h2>

<img style="width:80px;height:80px;" src="http://admin.fenrir-studio.fr/{{ image.imgPath}}"/><br>
Une nouvelle image a été upload sur le site !
<hr>
<a class="btn btn-success" href="http://admin.fenrir-studio.fr/image/{{ image.id }}/comfirm">Confirmer</a>
<div style="margin-top:30px;">
    <hr>
        <p><b>Fenrir studio</b></p>
        <img src="https://media.licdn.com/dms/image/C4D03AQHsq8EWHOqeNQ/profile-displayphoto-shrink_200_200/0?e=1565827200&v=beta&t=_KU2LU1recHZcH7a_yRtUE6UKZ1LsxP-Kg-qLBfwIUc" style="border-radius:50%;width:50px;height:50px;"/>
        <p><a href="mailto:team.project.orga@gmail.com">team.project.orga@gmail.com</a></p>
        <p>31 Avenue du Maréchal Gallieni, 33700 Mérignac</p>
    </div>